@import url('https://db.onlinewebfonts.com/c/3dad38b96d1a28deaba765fa3a16697f?family=GT+Eesti+Pro+Display');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;    
    border: 0;
    scroll-behavior: smooth;
    transition: all .5s ease;
    font-family: 'GT Eesti Pro Display', "Sans Serif";
}

body{
    width: 100vw;
    height: fit-content;
    background: #000;
}

@media (orientation: landscape){
    *{
        overflow: auto;
    }
}