@import url('https://db.onlinewebfonts.com/c/3dad38b96d1a28deaba765fa3a16697f?family=GT+Eesti+Pro+Display');

#main{
    color: white;
    min-height:30vh;
    width:100vw;
    height: fit-content;
    padding: 0rem 1rem 0 1rem;
}

#current-time{
    color: white;
    font-family: 'GT Eesti Pro Display', "Sans Serif";
    font-size: 2.5rem;
    padding-left: 1.5rem;
    margin-bottom: 1rem;
}
#now{
    opacity: .5;
    font-size:1.3rem;
}

.black-box{
    color: white;
    border-radius: .5rem;
    width: 93.5vw;
    width: auto;
    height: min-content;
    padding: 1rem 1rem 0 1rem;
}

#wake-up-text{
    color: white;
    font-family: 'GT Eesti Pro Display', 'Sans Serif';
    padding-left: .5rem;
    opacity: .5
}

.rows-box{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: inherit;
    column-gap: .5rem;
}

.rows{
    color: white;
    font-family: 'GT Eesti Pro Display', "Sans Serif";
    margin: 0rem 0;
    border-radius: .5rem;
    padding: .5rem;
    width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.tiny-times{
    min-width: 8.5rem;
    color: white;
     font-size: 2rem;
     font-family: 'GT Eesti Pro Display', "Sans Serif";
} 

.recommended{
    background: blue;
    color: white;
    font-size: .7rem;
    padding: .25rem .5rem;
    margin-left: .5rem;
    border-radius: .25rem
}

.recommended-nap{
    background: purple;
    color: white;
    font-size: .7rem;
    padding: .25rem .5rem;
    margin-left: .5rem;
    border-radius: .25rem
}
.recommended-blank{
    background: rgba(255,255,255,.2);
    color: white;
    font-size: .7rem;
    padding: .25rem .5rem;
    margin-left: .5rem;
    border-radius: .25rem
}

@media(orientation:landscape){
    #main{
        height: fit-content;
    }
}