.footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 2rem 0 3rem 0;
}

.link{
    color: white;
    margin-left: 2.5rem;
    opacity: .5;
    font-family: 'GT Eesti Pro Display';
    min-width: 8.5rem;
}

.link:hover{
    opacity: 1;
}

.surprise-recommended{
    font-family: 'GT Eesti Pro Display';
    opacity: 0;
    background: blue;
    color: white;
    font-size: .7rem;
    padding: .25rem .5rem;
    margin-left: .5rem;
    border-radius: .25rem;
    transition: inherit fade-in;
}

.link:hover ~ .surprise-recommended{
    opacity: 1;
    transition-delay: 1s;
}

@media (orientation: landscape){
    .footer{
        margin: 2rem 0 3rem 0;
    }
}