@import url('https://db.onlinewebfonts.com/c/3dad38b96d1a28deaba765fa3a16697f?family=GT+Eesti+Pro+Display');

#navbar{
    height: 5rem;
    color: white;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 2rem 2.5rem;
    /* padding-top: 3rem; */
    /* padding-left: 2.5rem; */
    /* margin-bottom: .1rem; */
    font-family: 'GT Eesti Pro Display';
    font-size: 1.3rem;
}

#title{
    opacity: .5;
}

#calc{
    font-size: 1rem;
    /* opacity: .25; */
}
#hamburger{
    font-size: 200%;
    font-weight: 100;
    color: white;
    display:none;
}
